---js
{
  permalink: data => (data.site.url ? "sitemap.xml" : false),
  eleventyExcludeFromCollections: true,
}
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ '' | absoluteUrl(site.url) }}</loc></url>
  {%- for a in collections.articles %}
  <url><loc>{{ (a.page.fileSlug + '.html') | absoluteUrl(site.url) }}</loc><lastmod>{{ (a.data.updated or a.page.date) | isoDate }}</lastmod></url>
  {%- endfor %}
  <url><loc>{{ 'guides.html' | absoluteUrl(site.url) }}</loc></url>
  <url><loc>{{ 'now.html' | absoluteUrl(site.url) }}</loc></url>
  <url><loc>{{ 'making.html' | absoluteUrl(site.url) }}</loc></url>
  {%- for p in projects %}{% if not p.placeholder %}
  <url><loc>{{ ('making-' + p.slug + '.html') | absoluteUrl(site.url) }}</loc></url>
  {%- endif %}{% endfor %}
  <url><loc>{{ 'links.html' | absoluteUrl(site.url) }}</loc></url>
  {%- for t in topics %}
  <url><loc>{{ ('topic-' + t.key + '.html') | absoluteUrl(site.url) }}</loc></url>
  {%- endfor %}
  <url><loc>{{ 'operator.html' | absoluteUrl(site.url) }}</loc></url>
  <url><loc>{{ 'privacy.html' | absoluteUrl(site.url) }}</loc></url>
  <url><loc>{{ 'contact.html' | absoluteUrl(site.url) }}</loc></url>
</urlset>
