<div class="site-nav" role="banner" data-theme="dark">
  <a class="site-brand" href="index.html#top">ムートン</a>
  <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="site-links">Menu</button>
  <nav aria-label="メインナビゲーション">
    <ul class="site-links" id="site-links">
      <li><a href="now.html">いま<span class="site-links-en">Now</span></a></li>
      <li><a href="index.html#journal">記事<span class="site-links-en">Journal</span></a></li>
      <li><a href="index.html#guides">選び方<span class="site-links-en">Guides</span></a></li>
      <li><a href="index.html#foodscience">食事・化学<span class="site-links-en">Food &amp; Science</span></a></li>
      <li><a href="index.html#books">本棚<span class="site-links-en">Bookshelf</span></a></li>
      <li><a href="index.html#projects">制作<span class="site-links-en">Projects</span></a></li>
      <li><a href="index.html#about">ムートンについて<span class="site-links-en">About</span></a></li>
    </ul>
  </nav>
</div>
